server:
  port: 8080

spring:
  application:
    name: User-service
  cloud:
    nacos:
      server-addr: 192.168.235.192:29887 # nacos地址
  datasource:
    url: jdbc:mysql://192.168.235.192:32306/nusteamproject1
    username: root
    password: vF8v4Alo5O0UNAR99ND8

mybatis:
  configuration:
    map-underscore-to-camel-case: true

knife4j:
  enable: true
  openapi:
    title: 用户服务接口文档
    description: "用户服务接口文档"
    concat: ISS-7
    version: v1.0.0
    group:
      default:
        group-name: ISS-7
        api-rule: package
        api-rule-resources:
          - com.example.demo.user.Controller





