server:
  port: 8080

spring:
  application:
    name: Product-service
  redis:
    host: base-redis
    port: 6379
    password: JqA5i2JrtjpHTYDHiEDT
    database: 0
  cloud:
    nacos:
      server-addr: nacos-cs:8848 # nacos地址
  datasource:
    url: jdbc:mysql://base-mysql:3306/nusteamproject1
    username: root
    password: vF8v4Alo5O0UNAR99ND8
  rabbitmq:
    host: base-rabbitmq
    port: 5672
    virtual-host: md
    username: md
    password: 123

logging:
  level:
    org:
      elasticsearch=DEBUG:

mybatis:
  configuration:
    map-underscore-to-camel-case: true

knife4j:
  enable: true
  openapi:
    title: 商品服务接口文档
    description: "商品服务接口文档"
    concat: ISS-7
    version: v1.0.0
    group:
      default:
        group-name: ISS-7
        api-rule: package
        api-rule-resources:
          - com.example.demo.product.Controller




